name: cicd-laboratorio-final
on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env: 
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Check issues
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}          
        run: |
          ORG="${{ github.repository_owner }}"
          REPO="${{ github.event.repository.name }}"
          PROJECT_KEY="${ORG}_${REPO}"
          BASE_URL="https://sonarcloud.io/api/issues/search"

          echo '::notice::Evaluando resultados del an치lisis de seguridad ...'

          MAJOR=$(curl -s -u $SONAR_TOKEN: \
            "${BASE_URL}?componentKeys=${PROJECT_KEY}&severities=MAJOR&resolved=false" \
            | jq '.total // 0')
          
          CRITICAL=$(curl -s -u $SONAR_TOKEN: \
            "${BASE_URL}?componentKeys=${PROJECT_KEY}&severities=CRITICAL&resolved=false" \
            | jq '.total // 0')
          
          BLOCKER=$(curl -s -u $SONAR_TOKEN: \
            "${BASE_URL}?componentKeys=${PROJECT_KEY}&severities=BLOCKER&resolved=false" \
            | jq '.total // 0')\

          echo "::group::游늶 Resumen de Issues"
          echo "游댮 BLOCKER:  $BLOCKER"
          echo "游 CRITICAL: $CRITICAL"
          echo "游리 MAJOR:    $MAJOR"
          echo "游댯 MINOR:    $MINOR"
          echo "::endgroup::"

          # Validaciones
          EXIT_CODE=0
          
          if [ "$BLOCKER" -gt 0 ]; then
            echo "::error::Se encontraron $BLOCKER issues BLOCKER"
            EXIT_CODE=1
          fi
          
          if [ "$CRITICAL" -gt 0 ]; then
            echo "::error::Se encontraron $CRITICAL issues CRITICAL"
            EXIT_CODE=1
          fi
          
          if [ "$MAJOR" -gt 0 ]; then
            echo "::error::Se encontraron $MAJOR issues MAJOR"
            EXIT_CODE=1
          fi
          
          if [ $EXIT_CODE -eq 0 ]; then
            echo "::notice::An치lisis de seguridad aprobado!"
          else
            echo "::error::An치lisis de seguridad rechazado - Revisar issues encontrados"
          fi
          
          exit $EXIT_CODE